<form ng-submit="signup(user)">
<div id="register" class="loginmodal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" type="button" ng-click="close(false)">&times;</button>
        <h4 class="modal-title">Register</h4>
        <span class="login-instruction">Please Register to Create a New Account</span>
    </div>
    <div class="modal-body">
        <h3 ng-if="authError">{{authError}}</h3>
            <input type="text" name="Name" class="login-signup" ng-model="user.firstName" placeholder="First Name" required/>
            <input type="text" name="Name" class="login-signup" ng-model="user.lastName" placeholder="Last Name" required/>
            <input type="text" name="email" class="login-signup" ng-model="user.email" placeholder="Email" required/>
            <input type="Password" name="Password" class="login-signup" ng-model="user.password" placeholder="Password" required>
            <input type="Password" name="Confirm Password" class="login-signup" placeholder="Confirm Password" ng-model="user.confirm" compare-to="user.password" required/>
            <div class="Password checkbox-primary textlinks options">
                <div>
                    <input id="student" type="radio" ng-model="user.role" value = "2" name="role" required>
                    <label for="student"><img src="img/degree.png" alt="tie-pop" /> Student Account</label>
                </div>
                <div>
                    <input id="teacher" type="radio" name="role" ng-model="user.role" value = "1" required>
                    <label for="teacher"><img src="img/tie-pop.png" alt="tie-pop" /> Teacher Account</label>
                </div>
            </div>
            <p>Already have an account? <a ng-click="close(true)">Login to your account here!</a></p>
    </div>
    <div class="modal-footer">
        <input type="submit" name="submit" class="btn" value="SINUP NOW" style="width: 100%" />
    </div>
</div>
</form>