<div class="our-teachers">
<div id="inner-banner" class="inner-page-head">
    <div class="item active">
        <div class="container">
            <h1>Our Teachers</h1>
        </div>
    </div>
</div>
<!-- Page Content -->
<!-- Page Content -->
<div class="breadcrumbs container">
    <a href="index.html">Home</a> <i class="fa fa-angle-right"></i> <a class="current">{{teacher.firstName}} {{teacher.lastName}}</a>
</div>
<!-- /.search-section -->
<section class="inner-section-search teacher-detail-page p-t-35 m-b-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="teach-profile">
                    <div class="teacherpro"><img src="{{teacher.profilePic}}"/></div>
                    <h1 class="sec-title">{{teacher.firstName}} {{teacher.lastName}}</h1>
                    <div class="pro-degree">{{teacher.teacherOptions.title}} located in {{teacher.location}}</div>
                    <div class="timeperiods"><span ng-repeat="(key,value) in teacher.teacherOptions.times">{{weekdays[key]}} from {{value.start | date:'HH:mm'}} - {{value.end | date:'HH:mm'}}</span></div>
                    <hr class="clearfix">
                    <div class="teach-rate">
                        <p>Teacher Rating</p>
                        <span class="aside-stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
                    </div>
                    <hr class="clearfix">
                </div>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6">
                <h2 class="sec-title b m-t-0">About Me <span class="linedi m-l-0"></span></h2>
                <ul class="aboutteach-info row">
                    <li class="clearfix">
                        <label class="col-md-3">Full Name</label><span class="col-md-9">{{teacher.firstName}} {{teacher.lastName}}</span>
                    </li>
                    <li class="clearfix">
                        <label class="col-md-3">Teaching Level</label><span class="col-md-9">{{teacher.teacherOptions.teachingLevel}}</span>
                    </li>
                    <li class="clearfix">
                        <label class="col-md-3">Experience</label><span class="col-md-9">{{teacher.teacherOptions.experience}}</span>
                    </li>
                    <li class="clearfix">
                        <label class="col-md-3">Credentials</label><span class="col-md-9">{{teacher.teacherOptions.credentials}}</span>
                    </li>
                    <li class="clearfix teach-bio">
                        <label class="col-md-3">Bio</label>
                        <span class="col-md-9">
                            <p>{{teacher.teacherOptions.bio}}</p>
                            <p>
                                <p class="t-phone"><i class="fa fa-mortar-board"></i> Courses <span class="course-count">{{classes.length}}</span></p>
                        </p>
                        <p class="trsocial">
<!--                             <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="" target="_blank"><i class="fa fa-linkedin"></i></a> -->
                            <a mailto="{{teacher.email}}" target="_blank" class="red-text"><i class="fa fa-envelope"></i></a>
                        </p>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2 class="sec-title b m-t-0">My Courses <span class="linedi m-l-0"></span></h2>
                <div class="row course-view view-list teach-course-list">
                    <div class="col-md-12" ng-repeat="class in classes">
                        <div class="course-img-wrap">
                            <a class="event-img"><img src="img/course2.jpg" alt="Course Image"></a>
                        </div>
                        <div class="course-det">
                            <a href="course-detail.html" class="event-tit"><h3 class="second-tit">{{class.title}} <span class="course-cost">{{class.cost || 0}} credits</span></h3></a>
                            <p> <span class="g-t">in:</span> <strong>{{class.subject}}</strong></p>
                            
                            <div class="course-ctrl clearfix">
                                <span ng-repeat="(key,value) in class.times" class="pull-left course-schedule">{{weekdays[key]}} from {{value.start | date:'HH:mm'}} - {{value.end | date:'HH:mm'}}</span>
                                <span class="pull-right course-control">
                                       <a href=""><img src="img/view.png" alt="view" title="View"></a>
                                        <a href=""><img src="img/favourite.png" alt="view" title="View"></a>
                                        <a href=""><img src="img/shopping-cart.png" alt="view" title="View"></a> 
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-quote">
    <div class="container">
        <img src="img/t-quote.png" alt="Quote">
        <div class="t-quote">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
    </div>
</section>
<section class="section-action">
    <div class="container">
        <h3 class="sec-title m-t-0">Good Day! Here will be big title long that you find this is really long</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        <p class="m-b-0">
            <a href="" class="btn join-btn">Join Today</a>
        </p>
    </div>
</section>
</div>