<div class="container">
    <div class="row">
        <div class="col-md-3 col-xs-6 clearfix f-about-edvances">
            <div class="title-w-line">
                <h6>About Edvances</h6>
            </div>
            <p>Taking advantages of the latest technologies, Edvances is founded with the vision to become a natural supplement to school, and build upon the idea of raising education performance with an intuitive anytime anywhere experience.</p>
            <a href="" class="readmore">Read More <img src="img/read-more.png" alt="read more"></a>
        </div>
        <div class="col-md-3 col-xs-6 clearfix f-quick-links">
            <div class="title-w-line">
                <h6>Quick Links</h6>
            </div>
            <ul class="quick-link">
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Courses</a></li>
                <li><a href="javascript:void(0);">Students</a></li>
                <li><a href="javascript:void(0);">Teachers</a></li>
                <li><a href="javascript:void(0);">About</a></li>
                <li><a href="javascript:void(0);">Blog</a></li>
            </ul>
            <ul class="quick-link">
                <li><a href="javascript:void(0);">Terms of Use</a></li>
                <li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li><a href="javascript:void(0);">Legal Desclaimer</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-xs-6 clearfix f-latest-courses">
            <div class="title-w-line">
                <h6>Latest Courses</h6>
            </div>
            <div class="course" ng-repeat="classroom in classrooms">
                <a ng-click="transition(classroom.id)"> <img style="max-width:80px" class="media-object img-responsive" ng-src="{{classroom.image}}"></a>
                <div class="cname clearfix">
                    <a href="">
                        <h6>{{classroom.title}}</h6></a>
                    <p class="m-b-0">{{classroom.firstName}} {{classroom.lastName}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-6 clearfix quick-contact">
            <div class="title-w-line">
                <h6>Quick Contact</h6>
            </div>
            <form>
                <input type="email" placeholder="Your email address">
                <div class="h-message">
                    <textarea rows="6" placeholder="Type your message"></textarea>
                    <input type="submit" value="→">
                </div>
            </form>
        </div>
        <div class="clearfix fot-border"></div>
        <div class="clearfix">
            <p class="copyright text-muted small">Copyright 2017. All Rights Reserved by Edvances.</p>
        </div>
    </div>
</div>