<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- column -->
    <div class="col">
        <div class="content-wrapper profile">
            <!-- main header -->
            <div class=" lter wrapper-md bredcrumb">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <a ui-sref="app.dashboard"><small class="text-muted">Dashboard</small></a> <i class="fa fa-angle-right"></i> <small class="text-muted">Edit Profile</small>
                    </div>
                </div>
            </div>
            <!-- / main header -->
            <div class="pad-20">
                <div class="vbox outlined ">
                    <div class="nav-tabs-alt tab-wrap">
                        <ul class="nav nav-tabs nav-justified profile-tab">
                            <li ui-sref-active="active">
                                <a data-target="#tab-1" role="tab" data-toggle="tab" class="light-text" ui-sref="settings" ><i class="fa fa-lock"></i> Edit Profile</a>
                            </li>
                            <li ui-sref-active="active" ng-if="teacher">
                                <a data-target="#tab-2" role="tab" data-toggle="tab" class="light-text" ui-sref="payroll"><i class="fa fa-credit-card"></i> Payroll Options</a>
                            </li>
                            <li ui-sref-active="active" ng-if="teacher">
                                <a data-target="#tab-3" role="tab" data-toggle="tab" class="light-text" ui-sref="credentials"><i class="fa fa-list-ul"></i> Credentials</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row-row">
                        <div class="cell scrollable hover">
                            <div class="cell-inner">
                                <div class="tab-content">
                                    <!--Edit Profile Tab Start-->
                                    <div ui-view></div>
                                    <!--Edit Profile Tab End-->
                                    <script type="text/javascript">
                                    $('.add-payroll').click(function() {
                                        $('.payment-methods').hide();
                                        $('.add-paroll-method').show();
                                    });
                                    $('.cancel-payroll').click(function() {
                                        $('.payment-methods').show();
                                        $('.add-paroll-method').hide();
                                    });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /column -->
    </div>
</div>
<!-- /hbox layout -->
