<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm create-courses">
    <!-- column -->
    <div class="col">
        <div class="content-wrapper mycourses">
            <!-- main header Start-->
            <div class=" lter wrapper-md bredcrumb">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <a ui-sref="dashboard"><small class="text-muted">Dashboard</small></a> <i class="fa fa-angle-right"></i> <small class="text-muted">My Courses</small> <i class="fa fa-angle-right"></i> <small class="text-muted">Create Course</small>
                    </div>
                </div>
            </div>
            <!-- main header End-->
            <div class="pad-20">
                <div class="vbox outlined ">
                    <!--Bredcrumb Start-->
                    <div class="nav-tabs-alt tab-wrap">
                        <ul class="nav nav-tabs nav-justified profile-tab">
                            <li id="course-tab" class="tablinks active" ng-click="openBrowse('course-tab','tab-1')">
                                <a data-target="#tab-1" role="tab" data-toggle="tab" class="light-text tablinks"><i class="fa fa-align-left"></i> Course</a>
                            </li>
                            <li id="meta-tab" class="tablinks" labe>
                                <a ng-disabled="basicInfo.$invalid" class="light-text tablinks"><i class="fa fa-credit-card"></i> Meta</a>
                            </li>
                        </ul>
                    </div>
                    <!--Bredcrumb End-->
                    <div class="row-row">
                        <div class="cell scrollable hover">
                            <div class="cell-inner">
                                <div class="tab-content">
                                    <!--Create Course Start-->
                                    <div class="tab-pane active" id="tab-1">
                                        <div class="wrapper-md">
                                            <form name="basicInfo" class="form-horizontal" ng-submit="openBrowse('meta-tab','tab-2')">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Course Icon</label>
                                                    <div class="col-sm-8">
                                                        <div class="user-thumb"><img ng-if="!classThumbnail" src="https://edvances.blob.core.windows.net/class-thumbnails/classroom-placeholder.png" /><img ng-if="classThumbnail" ngf-thumbnail="classThumbnail" /></div>
                                                        <button type="file" ngf-select="changeClassroomImage($file)" ng-model="classThumbnail" accept="image/*" ng-f-max-height="1000" ngf-max-size="2mb" class="change-pro slim-btn outlined-btn gray-btn float-rt">Change</button>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Title</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" placeholder="Enter course name" ng-model="newClassroom.title" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Description</label>
                                                    <div class="col-sm-8">
                                                        <textarea class="form-control" ng-model="newClassroom.description" placeholder="Add your course description here" rows="5"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-8">
                                                        <button type="submit" class="fill-btn">Next</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!--Create Course End-->
                                    <!--Create Course Meta start-->
                                    <div class="tab-pane" id="tab-2">
                                        <div class="wrapper-md ">
                                            <form class="form-horizontal" ng-submit="createClass(newClassroom)">
                                                <div class="form-group select-field">
                                                    <label class="col-sm-2 control-label">Category </label>
                                                    <div class="col-sm-4">
                                                        <input class="form-control" ng-model="newClassroom.subject" />
                                                        <!-- <select name="carlist" form="carform" class="form-control" ng-model="newClassroom.subject">
                                                            <option selected="selected" value="Mathematics">Mathematics</option>
                                                            <option value="English">English</option>
                                                            <option value="Science">Science</option>
                                                            <option value="History">History</option>
                                                        </select> -->
                                                    </div>
                                                </div>
                                                <div class="form-group select-field">
                                                    <label class="col-sm-2 control-label">Credit Cost </label>
                                                    <div class="col-sm-4">
                                                        <input type="number" onlyNumbers class="form-control" ng-model="newClassroom.cost" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Start Date</label>
                                                    <div class="col-sm-4">
                                                        <input type="date" ng-model="newClassroom.startDate" class="form-control" placeholder="What is the course start date?">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">End Date</label>
                                                    <div class="col-sm-4">
                                                        <input type="date" ng-model="newClassroom.endDate" class="form-control" placeholder="When does the course finish?">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                        <label class="col-sm-2 control-label">Course Days </label>
                                                        <div class="col-sm-4">
                                                            <div class="weekDays-selector">
                                                                <input type="checkbox" id="weekday-mon" ng-model="days[0]" class="weekday" />
                                                                <label for="weekday-mon">M</label>
                                                                <input type="checkbox" id="weekday-tue" ng-model="days[1]" class="weekday" />
                                                                <label for="weekday-tue">T</label>
                                                                <input type="checkbox" id="weekday-wed" ng-model="days[2]" class="weekday" />
                                                                <label for="weekday-wed">W</label>
                                                                <input type="checkbox" id="weekday-thu" ng-model="days[3]" class="weekday" />
                                                                <label for="weekday-thu">T</label>
                                                                <input type="checkbox" id="weekday-fri" ng-model="days[4]" class="weekday" />
                                                                <label for="weekday-fri">F</label>
                                                                <input type="checkbox" id="weekday-sat" ng-model="days[5]" class="weekday" />
                                                                <label for="weekday-sat">S</label>
                                                                <input type="checkbox" id="weekday-sun" ng-model="days[6]" class="weekday" />
                                                                <label for="weekday-sun">S</label>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row" ng-repeat="day in days track by $index" ng-show="day ==true">
                                                        <label class="col-sm-2 control-label">{{weekdays[$index]}}: </label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control time-input m-r-20 ng-pristine ng-untouched ng-valid ng-not-empty" type="time" id="exampleInput" name="input" ng-model="times[$index].start" placeholder="HH:mm:ss"> to
                                                            <input class="form-control time-input m-l-20 ng-pristine ng-untouched ng-valid ng-not-empty" type="time" id="exampleInput" name="input" ng-model="times[$index].end" placeholder="HH:mm:ss">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-8">
                                                        <button type="submit" ng-if="!submitting" class="fill-btn ">Create Class</button>
                                                        <button type="submit" ng-if="submitting" class="fill-btn "><img src="/img/spinner.gif" /></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!--Create Course Meta End-->
                                    <!--Create Course Lessons Start-->
                                    <!-- <div class="tab-pane" id="tab-3"> -->
                                    <!--Lessons list Start-->
                                    <!-- <div class="wrapper-md lessons-list">
                                            <div class="clearfix max-wid-920">
                                                <div class="title-box float-lt m-t-10">
                                                    <span class="main-title">5 Lessons</span>
                                                </div>
                                                <button type="button" class="fill-btn float-rt slim-btn m-b-20 add-lesson">Add Lesson</button>
                                            </div>
                                            <ul ui-jq="sortable" class="list-group gutter list-group-lg list-group-sp max-wid-920">
                                                <li class="list-group-item">
                                                    <div class="text-wrap">
                                                        <span class="pull-right edit-btn">
                                                        <button type="button" class="outlined-btn gray-btn add-lesson"><i class="fa fa-pencil"></i> Edit</button>
                                                    </span>
                                                        <div class="clear">
                                                            <span class="pro-img-list">
                                                        <img src="img/ls1.jpg" title="User" alt="User"></span>
                                                            <span class="activity-title">Introduction<br>  
                                                        <span class="desc-det">updated 1 month ago</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="text-wrap">
                                                        <span class="pull-right edit-btn">
                                                        <button type="button" class="outlined-btn gray-btn add-lesson"><i class="fa fa-pencil"></i> Edit</button>
                                                    </span>
                                                        <div class="clear">
                                                            <span class="pro-img-list">
                                                        <img src="img/ls2.jpg" title="User" alt="User"></span>
                                                            <span class="activity-title">Lesson Name Goes Here<br>  
                                                        <span class="desc-det">updated 1 month ago</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="text-wrap">
                                                        <span class="pull-right edit-btn">
                                                        <button type="button" class="outlined-btn gray-btn add-lesson"><i class="fa fa-pencil"></i> Edit</button>
                                                    </span>
                                                        <div class="clear">
                                                            <span class="pro-img-list">
                                                        <img src="img/ls3.jpg" title="User" alt="User"></span>
                                                            <span class="activity-title">Lesson Name Goes Here<br>  
                                                        <span class="desc-det">updated 1 month ago</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="text-wrap">
                                                        <span class="pull-right edit-btn">
                                                        <button type="button" class="outlined-btn gray-btn add-lesson"><i class="fa fa-pencil"></i> Edit</button>
                                                    </span>
                                                        <div class="clear">
                                                            <span class="pro-img-list">
                                                        <img src="img/ls4.jpg" title="User" alt="User"></span>
                                                            <span class="activity-title">Lesson Name Goes Here<br>  
                                                        <span class="desc-det">updated 1 month ago</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="text-wrap">
                                                        <span class="pull-right edit-btn">
                                                        <button type="button" class="outlined-btn gray-btn add-lesson"><i class="fa fa-pencil"></i> Edit</button>
                                                    </span>
                                                        <div class="clear">
                                                            <span class="pro-img-list">
                                                        <img src="img/ls5.jpg" title="User" alt="User"></span>
                                                            <span class="activity-title">Lesson Name Goes Here<br>  
                                                        <span class="desc-det">updated 1 month ago</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div> -->
                                    <!--Lessons list End-->
                                    <!--Add Edit Lesson Start-->
                                    <!--                <div class="wrapper-md edit-lesson">
                                            <form class="form-horizontal" method="get">
                                                <div class="form-group mar-20">
                                                    <label class="col-sm-2 control-label">Preview</label>
                                                    <div class="col-sm-8">
                                                        <div class="user-thumb"><img src="img/placeholder.png" title="John Doe" alt="John Doe" /></div>
                                                        <a href="" class="fill-btn change-pro slim-btn">Add Image</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Title </label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" placeholder="Write an awesome title">
                                                    </div>
                                                </div>
                                                <div class="form-group select-field">
                                                    <label class="col-sm-2 control-label">Course </label>
                                                    <div class="col-sm-4">
                                                        <select name="carlist" form="carform" class="form-control">
                                                            <option value="">Fractions 101 - GR01</option>
                                                            <option value="">Fractions 101 - GR02</option>
                                                            <option value="">Fractions 101 - GR03</option>
                                                            <option value="">Fractions 101 - GR04</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group m-t-30">
                                                    <label class="col-sm-2 control-label">File</label>
                                                    <div class="col-sm-8">
                                                        <div class="row">
                                                            <div class="col-md-6 m-b-30">
                                                                <div class="dropzone">
                                                                    <div class="instruction text-center">
                                                                        <img src="img/add-quiz.jpg" alt="Add Quiz" title="Add Quiz" class="m-b-10a">
                                                                        <br> Drop file here to upload
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="file-structure pad-20">
                                                                    <ul class="filetree">
                                                                        <li><a href=""><i class="fa fa-folder-open"></i> Lesson files</a>
                                                                            <ul>
                                                                                <li><a href=""><i class="fa fa-file-o"></i> Lesson-1-install.zip</a></li>
                                                                                <li><a href=""><i class="fa fa-file-o"></i> Lesson-1-install.zip</a></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-8">
                                                        <button type="submit" class="fill-btn mar-right-10 save-lesson">Save Lesson</button>
                                                        <button type="submit" class="outlined-btn red-btn cancel-lesson">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div> -->
                                    <!--Add Edit Lesson End-->
                                    <!-- </div> -->
                                    <!-- <script type="text/javascript">
                                    $('.add-lesson').click(function() {
                                        $('.lessons-list').hide();
                                        $('.edit-lesson').show();
                                    });
                                    $('.save-lesson, .cancel-lesson').click(function() {
                                        $('.lessons-list').show();
                                        $('.edit-lesson').hide();
                                    });
                                    </script> -->
                                    <!--Create Course Lessons End-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /column -->
    </div>
</div>
<!-- /hbox layout -->
