<div class="col">
    <div class="content-wrapper mycourses quiz-manager">
        <!-- main header -->
        <div class=" lter wrapper-md bredcrumb">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <a ui-sref="app.dashboard"><small class="text-muted">Dashboard</small></a> <i class="fa fa-angle-right"></i> <small class="text-muted">Assignments Due</small>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- info bar -->
            <div class="row m-b-20">
                <div class="col-md-12">
                    <div class="clearfix">
                        <div class="m-t--5 no-pad">
                            <div class="activity-title">Assignments Due
                                <br>
                                <div class="clearfix">
                                    <hr class="bold-hr">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / info bar -->
            <!--Upcoming Classes Start-->
            <div class="row courselist" ng-if="!inProgress">
                <div class="col-md-12 col-sm-6 complet-course quiz-block mar-btm-30" ng-repeat="quiz in quizzes">
                    <div class="outlined clearfix">
                        <a class="list-thumb" href="" class="link" ><img src="img/course-thumnail.jpg" alt="Course" title="Course"></a>
                        <div class="list-details pad-20 b-l-0">
                            <div class="normal-text complet-info">
                                <a ng-click="transition(quiz.classroom_id)" class="w-full activity-title">Fractions 101 </a>
                                <br>
                                <strong>Duration:</strong> {{quiz.timeframe}}
                                <br>
                                <strong>Due Date: </strong> {{quiz.close | date:'dd/MM/YYYY'}}
                                <br>
                                <strong>Value:</strong> {{quiz.pointValue}}
                            </div>
                            <div class="action-btn float-rt text-right">
                                <div class="clearfix"></div>
                                <button ng-click="takeQuiz($index)" class="fill-btn m-b-10a slim-btn" href="#/app/classroom">Take Quiz</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Upcoming Classes End-->
            <ng-include ng-if="inProgress" src="'js/authorized/students/myAssignments/quiz.html'"></ng-include>
        </div>
    </div>
    <!-- /column -->
</div>