<div class="col">
    <div class="content-wrapper mycourses">
        <!-- main header -->
        <div class=" lter wrapper-md bredcrumb">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <a ui-sref="app.dashboard"><small class="text-muted">Dashboard</small></a> <i class="fa fa-angle-right"></i> <a ui-sref="app.quizmanager"><small class="text-muted">Quiz Manager</small></a> <i class="fa fa-angle-right"></i> <small class="text-muted">New Quiz</small>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="pad-20">
            <div class="vbox outlined ">
                <div class="nav-tabs-alt tab-wrap">
                    <ul class="nav nav-tabs nav-justified profile-tab">
                        <li class="active">
                            <a data-target="#tab-1" role="tab" data-toggle="tab" class="light-text"><i class="fa fa-lock"></i> Quiz</a>
                        </li>
                        <li>
                            <a data-target="#tab-3" role="tab" data-toggle="tab" class="light-text"><i class="fa fa-question-circle"></i> Questions</a>
                        </li>
                    </ul>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="tab-content">
                                <!--Edit Profile Tab Start-->
                                <div class="tab-pane active" id="tab-1">
                                    <div class="wrapper-md">
                                        <form class="form-horizontal" ng-submit="createQuiz(newQuiz)">
                                            <!-- <div class="form-group mar-20">
                                                <label class="col-sm-2 control-label">Quiz Image</label>
                                                <div class="col-sm-8">
                                                    <div class="user-thumb"><img src="img/placeholder.png" title="John Doe" alt="John Doe" /></div>
                                                    <a href="" class="fill-btn change-pro slim-btn">Change</a>
                                                </div>
                                            </div> -->
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Title</label>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ng-model="newQuiz.title" placeholder="Enter Quiz Name">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group select-field">
                                                <label class="col-sm-2 control-label">Course </label>
                                                <div class="col-sm-4">
                                                    <select name="carlist" form="carform" class="form-control" ng-model="selectedClassroom" ng-change="getClassroom(selectedClassroom)" placeholder="Choose a classroom">
                                                        <option ng-repeat = "class in classrooms" value="{{class.id}}">{{class.title}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group select-field" ng-show="lessons">
                                                <label class="col-sm-2 control-label">Lesson </label>
                                                <div class="col-sm-4">
                                                    <select name="carlist" form="carform" class="form-control" ng-model="newQuiz.lesson" placehold="Choose a lesson" >
                                                        <option value="{{lesson.id}}" ng-repeat="lesson in lessons">{{lesson.title}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Start Date</label>
                                                <div class="col-sm-8">
                                                    <input type="date" ng-model="newQuiz.open" class="form-control" placeholder="When does the quiz become available?">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">End Date</label>
                                                <div class="col-sm-8">
                                                    <input type="date" ng-model="newQuiz.close" class="form-control" placeholder="When does the quiz finish?">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Timeframe</label>
                                                <div class="col-sm-10">
                                                    <label class="i-switch i-switch-lg bg-dark m-t-xs m-r">
                                                        <input type="checkbox" ng-model="timeframe">
                                                        <i></i>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group select-field m-b-30" ng-show="timeframe">
                                                <label class="col-sm-2 control-label hide-767"></label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control special-input" ng-model="newQuiz.timeframe" placeholder="minutes" value="60">
                                                    <h4>Minutes</h4>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label"></label>
                                                <div class="col-sm-8">
                                                    <button type="submit" class="fill-btn">Create Quiz</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--Edit Quiz Question Start-->
                                <div class="tab-pane" id="tab-3">
                                    <div class="wrapper-md">
                                        <div class="clearfix max-wid-920 small-title">
                                            <div class="title-box float-lt m-t-10">
                                                <span class="main-title"> Questions</span>
                                            </div>
                                            
                                            <span>
                                              <button class="fill-btn float-rt slim-btn m-b-20" ng-click="addQuestion()">Add Question</button>
                                            </span>
                                        </div>
                                        <ul>
                                             <li class="list-group-item" ng-repeat="question in questions track by $index">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-2 control-label">Question {{$index +1}}</label>
                                                        <input type="text" class="col-sm-8" placeholder="Quiz question" ng-model="questions[$index].title"/>
                                                    </div>
                                                    <div class="row">
                                                        <label class="col-sm-2 control-label">How many answers?</label>
                                                        <div class="col-sm-1">
                                                            <select ng-model="question.answerNumber" placehold="How many answers?" ng-change="addAnswers(question)">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <ul class="col-sm-4">
                                                            <li ng-repeat="answer in question.answers track by $index">
                                                            <input type="radio" ng-model="question.correct" ng-value="$index"/>
                                                            <label>Answer {{$index+1}}
                                                            <input type="text" ng-model="$parent.question.answers[$index]"/>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->
</div>