<div class="col">
    <div class="content-wrapper mycourses quiz-manager">
        <!-- main header -->
        <div class=" lter wrapper-md bredcrumb">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <a ui-sref="dashboard"><small class="text-muted">Dashboard</small></a> <i class="fa fa-angle-right"></i> <a ui-sref="quizDashboard"><small class="text-muted">Quiz Manager</small></a>
                </div>
            </div>
        </div>
        <!-- / main header -->
        <div class="wrapper-md">
            <!-- info bar -->
            <div class="row m-b-3em">
                                <div class="col-md-12">
                        <div class="clearfix">
                            <div class="info-wrap m-t--5 p-l-0">
                                <div class="title-box">
                                    <span class="main-title">My Quizzes.</span>
                                    <span class="reltd-title">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                            <div class="info-btn">
                                <a class="outlined-btn red-btn cancel-payroll" ui-sref="newQuiz">+ New Quiz</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- / info bar -->
            <!-- Quiz Listing controles start -->
            <div class="row m-b-3em">
                <div class="col-md-12">
                    <form class="form-horizontal float-lt" method="get">
                        <div class="select-field clearfix">
                            <label class="float-lt control-label">Select a classroom: </label>
                            <div class="sort-drop float-lt">
                                <select name="carlist" form="carform" class="form-control" ng-model="selectedClassroom" ng-change="getQuiz(selectedClassroom)">
                                    <option ng-repeat = "class in classrooms track by $index" value="{{class.id}}">{{class.title}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <!-- <div class="view-as float-rt clearfix">
                        <a class="view float-rt" href=""><i class="fa fa-bars"></i></a>
                        <a class="view float-rt active" href=""><i class="fa fa-th"></i></a>
                    </div> -->
                </div>
            </div>
            <!-- / Quiz Listing controles end -->
            <!-- Quiz Listing start -->
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 quiz-block mar-btm-30" ng-repeat="quiz in quizzes">
                    <div class="outlined pad-20">
                        <div class="activity-title m-b-10a">{{quiz.quiz_title}}
                            <br>
                            <span class="desc-det">
                                <span class="desc-lbl p-l-0">{{quiz.participants.length}} Completed</span>
                            </span>
                        </div>
                        <div class="states">
                            <span class="desc-det p-r-10"><i class="fa fa-question-circle"></i> {{quiz.questions.length}} Q</span>
                            <span class="desc-det p-r-10"><i class="fa fa-clock-o"></i> {{quiz.timeframe}}</span>
                            <span class="desc-det"><i class="fa  fa-thumbs-up"></i>{{quiz.pointValue || 0}} pts</span>
                        </div>
                    </div>
                    <div class="outlined pad-10 clearfix no-top-border">
                        <a ng-click="editQuiz(quiz.id)" class="outlined-btn gray-btn float-rt"><i class="fa fa-pencil"></i></a>
                        <a ng-click="deleteQuiz(quiz.id)" class="fill-btn float-lt slim-btn">Delete</a>
                    </div>
                </div>
<!--                 <div class="col-lg-3 col-md-4 col-sm-6 quiz-block mar-btm-30 add-quiz">
                    <a href="" class="dashed" ui-sref="app.addnewquiz">
                        <img src="img/add-quiz.jpg" alt="Add Quiz" title="Add Quiz" />
                    </a>
                </div> -->
            </div>
            <!-- / Quiz Listing end -->
        </div>
    </div>
    <!-- /column -->
</div>