<form ng-submit="sendLogin(user)">
<div id="loginmodal" class=" loginmodal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login</h4>
        <span class="login-instruction">Please Login to View your Account</span>
    </div>
    <div class="modal-body">
            <input type="text" name="login" class="login-signup" ng-model="user.email" placeholder="Email" />
            <input type="password" name="login" class="login-signup" ng-model="user.password" placeholder="Password" />
            <div class="forgot-password clearfix">
                <div class="checkbox checkbox-primary">
                    <input id="paid" type="checkbox">
                    <label for="paid"> Remember Me</label>
                </div>
                <!-- <a href="" class="forgotpass-link pull-right">Forgot Password?</a> -->
            </div>
    </div>
    <div class="modal-footer">
        <input type="submit" name="submit" class="btn" value="LOGIN NOW" style="width: 100%" />
    </div>
</div>  
</form>