<div class="our-teachers">
    <div id="inner-banner" class="inner-page-head">
    <div class="item active">
        <div class="container">
            <h1>Our Teachers</h1>
        </div>
    </div>
</div>
<!-- Page Content -->
<!-- /.search-section -->
<section class="inner-section-search">
    <div class="container">
        <div class="courseli-wrap">
            <div class="row">
                <div class="col-md-4 col-xs-6 teacher-pro" ng-repeat="teacher in teachers">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 full-img">
                            <a href="teacher-detail.html" class="event-img"><img ng-src="https://edvances.blob.core.windows.net/profile-pictures/{{teacher.profilePic}}" alt="Course Image" /></a>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <a href="teacher-detail.html" class="event-tit"><h3 class="second-tit m-b-0">{{teacher.firstName}} {{teacher.lastName}}</h3></a>
                            <p class="g-t t-pro">{{teaher.title}}</p>
                            <p class="t-phone"><i class="fa fa-mortar-board"></i> Courses <span class="course-count">{{teacher.number_of_courses}}</span></p>
                            <p class="t-email">Email me at <strong> {{teacher.email}}</strong></p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <p class="block-des">{{teacher.teacherOptions.bio}}</p>
                            <p class="block-des"><a ng-click="transition(teacher.id)">Read More <img src="img/read-more.png" alt=">" /></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 teacher-pro">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 full-img">
                            <a href="teacher-detail.html" class="event-img"><img src="img/teacher8.jpg" alt="Course Image" /></a>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <a href="teacher-detail.html" class="event-tit"><h3 class="second-tit m-b-0">James Anderson</h3></a>
                            <p class="g-t t-pro">Chemistry Professor</p>
                            <p class="t-phone"><i class="fa fa-mortar-board"></i> Courses <span class="course-count">5</span></p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <p class="block-des">Lorem ipsum dolor sit amet, consectetur eiusmod tempor incididunt.</p>
                            <p class="block-des"><a href="">Read More <img src="img/read-more.png" alt=">" /></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 teacher-pro">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 full-img">
                            <a href="teacher-detail.html" class="event-img"><img src="img/teacher9.jpg" alt="Course Image" /></a>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <a href="teacher-detail.html" class="event-tit"><h3 class="second-tit m-b-0">Jenny Lin</h3></a>
                            <p class="g-t t-pro">Chemistry Professor</p>
                            <p class="t-phone"><i class="fa fa-mortar-board"></i> Courses <span class="course-count">5</span></p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <p class="block-des">Lorem ipsum dolor sit amet, consectetur eiusmod tempor incididunt.</p>
                            <p class="block-des"><a href="">Read More <img src="img/read-more.png" alt=">" /></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Quote start-->
<section class="section-quote">
    <div class="container">
        <img src="img/t-quote.png" alt="Quote" />
        <div class="t-quote">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
    </div>
</section>
<!--Quote End-->

<!--Join Today Start-->
<!-- <section class="section-action">
    <div class="container">
        <h3 class="sec-title m-t-0">Good Day! Here will be big title long that you find this is really long</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        <p class="m-b-0">
            <a href="" class="btn join-btn">Join Today</a>
        </p>
    </div>
</section> -->
<!--Join Today End-->

</div>
