<div class="chat-window b-b-0">
    <div class="cat-title"><span>{{title}}</span></div> 
    <ul class="conversation" id="chat-history" scroll-glue>
        <li class="classmate" ng-repeat="chat in chats track by $index">
            <div class="chat-user"><img ng-src="{{chat.sender.profilePic}}"></div>
            <div class="chat-text">
                {{chat.message}}<br>
                <small>{{chat.sender.name}} - {{chat.time | date:'HH:mm a'}}</small>
            </div>
        </li>
    </ul>
</div>
<input type="text" name="" placeholder="Type message here..." class="chat-input b-t-0" ng-model="message" chat-enter="sendChat(message)">
<div class="chat-footer">
    <span>ABC
    <a href=""><i clas="fa fa-paperclip"></i></a>
</div>