<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm messages-board">
    <!-- column -->
    <div class="col content-area">
        <div class="content-wrapper mycourses quiz-manager pos-rlt">
            <!-- main header -->
            <div class=" lter wrapper-md bredcrumb">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <a ui-sref="app.dashboard"><small class="text-muted">Dashboard</small></a> <i class="fa fa-angle-right"></i> <small class="text-muted">My Courses</small> <i class="fa fa-angle-right"></i> <small class="text-muted">{{classroom.title}}</small>
                    </div>
                </div>
            </div>
            <!-- / main header -->
            <div class="wrapper-md ">
                <div class="row">
                    <div class="col-lg-8 mar-btm-30 stream-col">
                        <!--left section start-->
                        <div class="outlined clearfix pad-20">
                            <div class="title-box float-lt">
                                <span class="main-title">{{classroom.title}}</span>
                                <span class="light-text">on:</span> <span class="reltd-title">Jan 25, 2017</span> <span class="light-text">start time:</span> <span class="reltd-title">08:00 AM</span>
                                <div class="clearfix">
                                    <hr class="bold-hr" />
                                </div>
                                <span class="light-text">on: </span> {{classroom.teacher_name}} <span class="light-text">in: </span> Mathematics
                            </div>
                        </div>
                        <!--Video Stream start-->
                        <div class="video-streem outlined clearfix no-top-border">
                            <img ng-hide="joined" src="img/video-streem.jpg" alt="video stream" class="img-responsive w-full" ng-click="launch()"/>
                            <div id="jitsi" ng-show="joined"></div>
                        </div>
                        <!--Video Stream end-->
                        <div class="no-top-border outlined clearfix courseclock pad-20">
                            <div class="course-timer">
                                <span class="red-text">2</span><br><span>Days</span>
                            </div>
                            <div class="course-timer">
                                <span class="red-text">12</span><br><span>Hours</span>
                            </div>
                            <div class="course-timer">
                                <span class="red-text">36</span><br><span>Minutes</span>
                            </div>
                            <div class="float-rt joincls">
                                <a ng-click="test()" ng-hide="joined" class="outlined-btn red-btn v-a-m">Join Class</a>
                                <a ng-click="close()" ng-show="joined" class="outlined-btn red-btn v-a-m">Leave Class</a>
                                <a href="" class="user-chat v-a-m"><img src="img/user-chat.jpg" alt="user chat" /></a>
                            </div>
                        </div>
                        

                        <div class="course-documents accordion pad-20 outlined no-top-border p-b-35">
                            <!--Resources start-->
                            <h4 class="accordion-toggle resources activity-title active-tab m-t-20 clearfix">RESOURCES <i class="fa fa-angle-down"></i></h4>
                            <div class="accordion-content default resources-content">
                                <div class="clearfix">
                                    <hr class="bold-hr" />
                                </div>
                                <!--Assignments start-->
                                <div class="assignments-col m-t-20">
                                    <span class="reltd-title semisect">Assignments</span>
                                    <div class="acc-tab">
                                        <h4 class="innertab accordion-toggle active-tab outlined pad-20 no-bottom-border clearfix">1. <i class="fa fa-file"></i> Fractions – The Basics <i class="fa fa-angle-down"></i>  <small> DOCUMENT </small> <span class="float-rt normal-text toolsttype"><i class="fa fa-paperclip"></i> PDF</span></h4>
                                        <div class="innercont accordion-content default active-cont outlined pad-20 no-pad-top no-top-border no-bottom-border">
                                            <p>It has survived not only five centuries. But also the leap electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                            <a href="" class="red-text">Download PDF</a>
                                        </div>
                                    </div>
                                    <div class="acc-tab">
                                        <h4 class="innertab accordion-toggle outlined pad-20 no-bottom-border clearfix">2. <i class="fa fa-file"></i> Fractions – The Advanced  <i class="fa fa-angle-down"></i> <small> DOCUMENT </small> <span class="float-rt normal-text toolsttype"><i class="fa fa-paperclip"></i> PDF</span></h4>
                                        <div class="innercont accordion-content outlined pad-20 no-pad-top no-top-border no-bottom-border">
                                            <p>It has survived not only five centuries. But also the leap electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                            <a href="" class="red-text">Download PDF</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Assignments end-->

                                <!--Materials start-->
                                <div class="assignments-col m-t-30">
                                    <span class="reltd-title semisect">Materials</span>
                                    <div class="acc-tab">
                                        <h4 class="innertab accordion-toggle outlined pad-20 no-bottom-border clearfix">3. The basics <i class="fa fa-angle-down"></i> <small> INFORMATION </small> <span class="float-rt normal-text toolsttype"><i class="fa fa-pencil"></i> Tools needed</span></h4>
                                        <div class="innercont accordion-content outlined pad-20 no-pad-top no-top-border no-bottom-border">
                                            <p>It has survived not only five centuries. But also the leap electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                            <a href="" class="red-text">Download PDF</a>
                                        </div>
                                    </div>
                                    <div class="acc-tab">
                                        <h4 class="innertab accordion-toggle outlined pad-20 no-bottom-border clearfix">4. Class Slides <i class="fa fa-angle-down"></i>  <small> DOCUMENT </small> <span class="float-rt normal-text toolsttype"><i class="fa fa-language"></i> Slideshare</span></h4>
                                        <div class="innercont accordion-content outlined pad-20 no-pad-top no-top-border no-bottom-border">
                                            <p>It has survived not only five centuries. But also the leap electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                            <a href="" class="red-text">Download PDF</a>
                                        </div>
                                    </div>
                                    <div class="acc-tab">
                                        <h4 class="innertab accordion-toggle outlined pad-20 no-bottom-border clearfix">5. Support Articles  <i class="fa fa-angle-down"></i> <small> DOCUMENT </small> <span class="float-rt normal-text toolsttype"><i class="fa fa-paperclip"></i> PDF</span></h4>
                                        <div class="innercont accordion-content outlined pad-20 no-pad-top no-top-border no-bottom-border">
                                            <p>It has survived not only five centuries. But also the leap electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                            <a href="" class="red-text">Download PDF</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Materials end-->
                            </div>
                            <!--Resources end-->
                            <!--About Instructor start-->
                            <div class="about-instructor">
                                <h4 class="accordion-toggle activity-title m-t-30 clearfix">ABOUT THE INSTRUCTOR <i class="fa fa-angle-down"></i></h4>
                                <div class="accordion-content default about-instructor-content">
                                    <div class="clearfix m-b-20">
                                        <hr class="bold-hr" />
                                    </div>
                                    <div class="innercont clearfix m-b-10a">
                                        <a href="" class="thumb-lg pull-left m-r"><img src="img/a8.jpg" class="img-circle"></a>
                                        <div class="instructor-info reltd-title">
                                            <div class="trname">Greg Christman</div>
                                            <div class="trexp">Mathematics Genius</div>
                                            <div class="trsocial">
                                                <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                                                <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                                                <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                <a href="" target="_blank"><i class="fa fa-youtube"></i></a>
                                                <a href="" target="_blank" class="red-text"><i class="fa fa-envelope"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="instr-bio">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--About Instructor End-->
                            <script type="text/javascript">
                            $('.accordion').find('.accordion-toggle').click(function() {
                                $(this).next().slideToggle('fast');
                                $(this).next().toggleClass('active-cont');
                                $(this).toggleClass("active-tab");
                            });
                            </script>
                        </div>
                        <!--left section end-->
                    </div>
                    <div class="col-lg-4 support-col">
                        <div class="secondery-title">
                            Tools
                        </div>
                        <div class="clearfix">
                            <hr class="bold-hr">
                        </div>
                        <!--whiteboard start-->
                        <div class="mar-btm-30 m-t-10">
                            <div class="outlined wb-wrapper clearfix">
                                <div class="tbl-icon float-lt"><img src="img/whiteboard.jpg" alt="..." /></div>
                                <div class="secondery-title">Whiteboard</div>
                                <div class="plusicon float-rt"><img src="img/add-icon.png" alt="..." /></div>
                            </div>
                            <div class="outlined no-top-border whiteboard-area"></div>
                            <div class="outlined no-top-border clearfix pad-10"> 
                            <a href="" class="user-chat float-rt"><img src="img/wb-download.jpg" alt="..." /></a>
                            <a href="" class="user-chat float-rt"><img src="img/wb-share.jpg" alt="..." /></a>
                            </div>
                        </div>
                        <!--whiteboard end-->

                        <!-- Calender -->
                        <div class="mar-btm-30">
                            <div class="outlined clearfix classroom-cal">
                                <div id="calendar"></div>
                            </div>
                        <script type="text/javascript">
                        jQuery('#calendar').eCalendar({
                            firstDayOfWeek: 1,
                            weekDays: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
                            months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                            textArrows: {
                                previous: '<',
                                next: '>'
                            },
                            eventTitle: 'Events',
                            url: '',
                            events: [{
                                title: 'Event 1',
                                description: 'Description 1',
                                datetime: new Date(2016, 7, 15, 17)
                            }, {
                                title: 'Event 2',
                                description: 'Description 2',
                                datetime: new Date(2016, 7, 14, 16)
                            }, {
                                title: 'Event 3',
                                description: 'jQueryScript.Net',
                                datetime: new Date(2016, 7, 10, 16)
                            }]
                        });
                        </script>
                        </div>
                        <!-- / Calender end-->

                        <!--Teacher Notes Start-->
                        <div>
                            <div class="secondery-title">
                                Teacher Notes
                            </div>
                            <div class="clearfix">
                                <hr class="bold-hr">
                            </div>
                            <div class="outlined m-t-10 pad-20">
                                <ul class="notes-list">
                                    <li>
                                        <span class="course-img"><img src="img/notes-img.jpg" alt="..."></span>
                                        <span class="notes-text">
                                            <span class="reltd-title">Document Title Goes Here</span><br>
                                            <span class="light-text">March 15, 2017</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="course-img"><img src="img/notes-img.jpg" alt="..."></span>
                                        <span class="notes-text">
                                            <span class="reltd-title">Document Title Goes Here</span><br>
                                            <span class="light-text">March 15, 2017</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="course-img"><img src="img/notes-img.jpg" alt="..."></span>
                                        <span class="notes-text">
                                            <span class="reltd-title">Document Title Goes Here</span><br>
                                            <span class="light-text">March 15, 2017</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Teacher Notes End-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /column -->
    </div>
    <div class="col w-lg lter b-l bg-auto chat-area">
        <div class="online-tit pad-20 light-text">ONLINE</div>
        <div class="teacher-ct text-center">
            <span class="thumb-lg m-b-10a"><img src="img/a8.jpg" class="img-circle"></span>
            <div class="secondery-title">Teacher Name</div>
        </div>
        <ul class="online-stud-list">
            <li>
                <a class="light-text">
                    <span class="pull-left thumb-sm avatar m-l-n-md"><img src="img/a1.jpg" class="img-circle" alt="user"></span>
                    <span class="activity-title pad-12 p-r-0">Student Name</span>
                </a>
            </li>
            <li>
                <a class="light-text active">
                    <span class="pull-left thumb-sm avatar m-l-n-md"><img src="img/a8.jpg" class="img-circle" alt="user"></span>
                    <span class="activity-title pad-12 p-r-0">Adam Grant</span>
                </a>
            </li>
            <li>
                <a class="light-text">
                    <span class="pull-left thumb-sm avatar m-l-n-md"><img src="img/a2.jpg" class="img-circle" alt="user"></span>
                    <span class="activity-title pad-12 p-r-0">Student Name</span>
                </a>
            </li>
            <li>
                <a class="light-text">
                    <span class="pull-left thumb-sm avatar m-l-n-md"><img src="img/a3.jpg" class="img-circle" alt="user"></span>
                    <span class="activity-title pad-12 p-r-0">Student Name</span>
                </a>
            </li>
            <li>
                <a class="light-text">
                    <span class="pull-left thumb-sm avatar m-l-n-md"><img src="img/a4.jpg" class="img-circle" alt="user"></span>
                    <span class="activity-title pad-12 p-r-0">Student Name</span>
                </a>
            </li>
        </ul>
        <div class="online-tit pad-20 light-text offline no-top-border">GROUPS</div>
         <ul class="online-stud-list">
            <li>
                <a class="light-text">
                    <span class="pull-left thumb-sm avatar m-l-n-md"><img src="img/group.jpg" class="img-circle" alt="user"></span>
                    <span class="activity-title pad-12 p-r-0">Fractions 101</span>
                </a>
            </li>
        </ul>
        <div class="online-tit pad-20 light-text offline no-top-border">6 OFFLINE</div>

    </div>
</div>
<!-- /hbox layout -->
