<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm messages-board">
    <!-- column -->
    <div class="col content-area">
        <div class="content-wrapper mycourses quiz-manager pos-rlt">
            <!-- main header -->
            <div class=" lter wrapper-md bredcrumb">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <a ui-sref="app.dashboard"><small class="text-muted">Dashboard</small></a> <i class="fa fa-angle-right"></i> <small class="text-muted">My Courses</small> <i class="fa fa-angle-right"></i> <small class="text-muted">{{classroom.classroom_title}}</small>
                    </div>
                </div>
            </div>
            <!-- / main header -->
            <div class="wrapper-md ">
                <div class="row">
                    <div class="col-lg-8 mar-btm-30 stream-col">
                        <!--left section start-->
                        <div class="outlined clearfix pad-20">
                            <div class="title-box float-lt">
                                <span class="main-title">{{classroom.classroom_title}}</span>
                                <span class="light-text">next lesson:</span> <span class="reltd-title">{{nextLessonDay}}</span> <span class="light-text">start time:</span> <span class="reltd-title">{{nextLessonTime}}</span>
                                <div class="clearfix">
                                    <hr class="bold-hr" />
                                </div>
                                <span class="light-text">Taught By: </span> {{classroom.teacher_name}} <span class="light-text">in: </span> {{classroom.subject}}
                            </div>
                        </div>
                        <!--Video Stream start-->
                        <div class="video-streem outlined clearfix no-top-border">
                            <img ng-hide="joined" src="img/video-streem.jpg" alt="video stream" class="img-responsive w-full" ng-click="launch()"/>
                            <div id="jitsi" ng-show="joined"></div>
                        </div>
                        <!--Video Stream end-->
                        <div class="no-top-border outlined clearfix courseclock pad-20">
                            <div class="timeperiods"><span ng-repeat="(key,value) in classroom.class_times"><span>{{weekdays[key]}} from {{value.start | date:'HH:mm'}} - {{value.end | date:'HH:mm'}}</span></div>
                            <div class="float-rt joincls">
                                <a ng-click="test()" ng-hide="joined" class="outlined-btn red-btn v-a-m">Join Class</a>
                                <a ng-click="close()" ng-show="joined" class="outlined-btn red-btn v-a-m">Leave Class</a>
                                <a href="" class="user-chat v-a-m"><img src="img/user-chat.jpg" alt="user chat" /></a>
                            </div>
                        </div>
                        

                        <div class="course-documents accordion pad-20 outlined no-top-border p-b-35">
                            <!--Resources start-->
                            <h4 class="accordion-toggle resources activity-title active-tab m-t-20 clearfix">Lessons <i class="fa fa-angle-down"></i></h4>
                            <div class="accordion-content default resources-content">
                                <div class="clearfix">
                                    <hr class="bold-hr" />
                                </div>
                                <!--Assignments start-->
                                <div class="assignments-col m-t-20" ng-repeat="lesson in lessons track by $index">
                                    <h4 class="reltd-title semisect">{{lesson.title}} Start Date:{{lesson.startDate | date:'yyyy-mm-dd'}} End Date:{{lesson.endDate | date:'yyyy-mm-dd'}}</h4> <button ng-click="editLesson(lesson, $index)" class="btn">Edit Lesson</button>
                                    <div class="row"><h4>Sections</h4></div>
                                    <div class="row">
                                    <uib-accordion close-others="oneAtATime">
                                        <div uib-accordion-group class="panel-default" heading="{{$index +1}}. {{section.title}}" ng-repeat="section in lesson.sections track by $index">
                                            <div class="row">
                                                <p>{{section.description}}</p>
                                            </div>
                                        </div>
                                        <div uib-accordion-group class="panel-default" heading="Lesson Documents">
                                            <div class="row">
                                                <ul class="material-list">
                                                    <li ng-repeat="material in lesson.materials track by $index">
                                                    <a ng-href="https://edvances.blob.core.windows.net/edvances-lesson-docs/L_{{lesson.id + '-' + material.name}}" download="{{material.name}}" target="_self">{{material.name}}</a>
                                                    <p>Date Uploaded: {{material.createdAt | date:'yyyy-mm-dd'}}</p>
                                                    <button ng-click="removeDoc($index,lesson)" class="btn btn-sm">Delete File</button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                             <button ng-if="teacher" type="file" ngf-select="addLessonDoc($file, $index)" accept="*" ngf-max-height="1000" ngf-max-size="10MB">Upload File</button>
                                        </div>
                                        </div>
                                    </uib-accordion>
                                    </div>
                                </div>
                                
                                <div class="clearfix">
                                    <button ng-click="addLesson()" class="btn"><i class="fa fa-plus"></i> Add Lesson</button>
                                </div>
                            </div>
                            <!--Resources end-->
                            <!--About Instructor start-->
                            <div class="about-instructor">
                                <h4 class="accordion-toggle activity-title m-t-30 clearfix">ABOUT THE INSTRUCTOR <i class="fa fa-angle-down"></i></h4>
                                <div class="accordion-content default about-instructor-content">
                                    <div class="clearfix m-b-20">
                                        <hr class="bold-hr" />
                                    </div>
                                    <div class="innercont clearfix m-b-10a">
                                        <a href="" class="thumb-lg pull-left m-r"><img src="img/a8.jpg" class="img-circle"></a>
                                        <div class="instructor-info reltd-title">
                                            <div class="trname">{{classroom.teacher_name}}</div>
                                            <div class="trexp">{{classroom.teacher_title}}</div>
                                            <div class="trsocial">
                                                <a href="" target="_blank" class="red-text"><i class="fa fa-envelope"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="instr-bio">
                                        <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--About Instructor End-->
                            <script type="text/javascript">
                            $('.accordion').find('.accordion-toggle').click(function() {
                                $(this).next().slideToggle('fast');
                                $(this).next().toggleClass('active-cont');
                                $(this).toggleClass("active-tab");
                            });
                            </script>
                        </div>
                        <!--left section end-->
                    </div>
                    <div class="col-lg-4 support-col">
                        <div class="secondery-title">
                            Tools
                        </div>
                        <div class="clearfix">
                            <hr class="bold-hr">
                        </div>
                        <!--whiteboard start-->
                        <div class="mar-btm-30 m-t-10">
                            <div class="outlined wb-wrapper clearfix">
                                <div class="tbl-icon float-lt"><img src="img/whiteboard.jpg" alt="..." /></div>
                                <div class="secondery-title">Whiteboard</div>
                                <div class="plusicon float-rt"><img src="img/add-icon.png" alt="..." /></div>
                            </div>
                            <div class="outlined no-top-border whiteboard-area"></div>
                            <div class="outlined no-top-border clearfix pad-10"> 
                            <a href="" class="user-chat float-rt"><img src="img/wb-download.jpg" alt="..." /></a>
                            <a href="" class="user-chat float-rt"><img src="img/wb-share.jpg" alt="..." /></a>
                            </div>
                        </div>
                        <!--whiteboard end-->

                        <!-- Calender -->
                        <div class="mar-btm-30">
                            <div class="outlined clearfix classroom-cal">
                                <div id="calendar"></div>
                            </div>
                        </div>
                        <!-- / Calender end-->

                        <!--Teacher Notes Start-->
                        <div>
                            <div class="secondery-title">
                                Teacher Notes
                            </div>
                            <div class="clearfix">
                                <hr class="bold-hr">
                            </div>
                            <div class="outlined m-t-10 pad-20">
                                <ul class="notes-list">
                                    <li ng-repeat = "note in classNotes">
                                        <span class="course-img"><img src="img/notes-img.jpg" alt="..."></span>
                                        <span class="notes-text">
                                            <span class="reltd-title">Document Title Goes Here</span><br>
                                            <span class="light-text">March 15, 2017</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="course-img"><img src="img/notes-img.jpg" alt="..."></span>
                                        <span class="notes-text">
                                            <span class="reltd-title">Document Title Goes Here</span><br>
                                            <span class="light-text">March 15, 2017</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="course-img"><img src="img/notes-img.jpg" alt="..."></span>
                                        <span class="notes-text">
                                            <span class="reltd-title">Document Title Goes Here</span><br>
                                            <span class="light-text">March 15, 2017</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Teacher Notes End-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /column -->
    </div>
    <div class="col w-lg lter b-l bg-auto chat-area">
        <div class="online-tit pad-20 light-text">ONLINE</div>
        <div class="teacher-ct text-center">
            <span class="thumb-lg m-b-10a"><img src="img/a8.jpg" class="img-circle"></span>
            <div class="secondery-title">{{user.name}}</div>
        </div>
        <ul class="online-stud-list">
            <li>
                <a class="light-text active">
                    <span class="pull-left thumb-sm avatar m-l-n-md"><img src="img/a8.jpg" class="img-circle" alt="user"></span>
                    <span class="activity-title pad-12 p-r-0">{{classroom.teacher_name}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /hbox layout -->
