<div class="hbox hbox-auto-xs hbox-auto-sm"
  ">
    <!-- main -->
    <div class="col">
        <div class="content-wrapper">
            <!-- main header -->
            <div class=" lter wrapper-md bredcrumb">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <a ui-sref="app.dashboard"><small class="text-muted">Dashboard</small></a> <i class="fa fa-angle-right"></i> <small class="text-muted">Forums</small>
                    </div>
                </div>
            </div>
            <!-- / main header -->
            <div class="wrapper-md">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <!--General Forums Start-->
                            <div class="col-md-12 mar-btm-30 recent-activity" ng-show="teacher">
                                <div class="outlined clearfix pad-20 for-head">
                                    <div class="title-box float-lt">
                                        <span class="main-title">Classes You Teach</span>
                                        <span class="reltd-title">Forums For Classes you Teach</span>
                                    </div>
                                </div>
                                <div class="outlined clearfix graph no-top-border">
                                    <ul class="class-list">
                                        <li ng-repeat="forum in teacherForums track by forum.id">
                                            <span class="pro-img-list">
                                            <img src="img/forum-thum.jpg" title="User" alt="User" />
                                            </span>
                                            <span class="activity-title">{{forum.name}}<br>
                                            </span>
                                            <a ng-click="transition(forum.id)" class="outlined-btn gray-btn float-rt p-l-r-20 forumcount"><i class="fa fa-comments"></i> View Threads</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <!--General Forums End-->
                            <!--Classes Forums Start-->
                            <div class="col-md-12 mar-btm-30 recent-activity" ng-show="!teacher">
                                <div class="outlined clearfix pad-20 for-head">
                                    <div class="title-box float-lt">
                                        <span class="main-title">Classes You Attend</span>
                                        <span class="reltd-title">Forums for classes you are a part of</span>
                                    </div>
                                </div>
                                <div class="outlined clearfix graph no-top-border">
                                    <ul class="class-list">
                                        <li ng-repeat="forum in studentForums track by forum.id">
                                            <span class="pro-img-list">
                                            <img src="img/forum-thum.jpg" title="User" alt="User" />
                                            </span>
                                            <span class="activity-title">{{forum.name}}<br>
                                            <span class="desc-det"><span class="desc-lbl no-pad">By:</span> <a href="" class="link"> John Doe</a> | 1hr ago</span>
                                            </span>
                                            <a ng-click="transition(forum.id)" class="outlined-btn gray-btn float-rt p-l-r-20 forumcount"><i class="fa fa-comments"></i> 15</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--Classes Forums End-->
                            <!--Support Forums Start-->
                            <!-- <div class="col-md-12 mar-btm-30 recent-activity">
                                <div class="outlined clearfix pad-20 for-head">
                                    <div class="title-box float-lt">
                                        <span class="main-title">Support</span>
                                        <span class="reltd-title">General Questions about the Edvances Platform</span>
                                    </div>
                                </div>
                                <div class="outlined clearfix graph no-top-border">
                                    <ul class="class-list">
                                        <li>
                                            <span class="pro-img-list">
                  <img src="img/forum-thum.jpg" title="User" alt="User" />
                </span>
                                            <span class="activity-title">Can someone help with Fractions?<br>
                                        <span class="desc-det"><span class="desc-lbl no-pad">By:</span> <a href="" class="link">John Doe</a> | 1hr ago</span>
                                            </span>
                                            <a ui-sref="app.forums-thread" class="outlined-btn gray-btn float-rt p-l-r-20 forumcount"><i class="fa fa-comments"></i> 15</a>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                            <!--Support Forums End-->
                        </div>
                    </div>
                    <!-- <div class="col-md-3">
                        <div class="forum-search">
                            <form>
                                <input type="text" name="" placeholder="Search Forums" class="search-for">
                                <button type="button" class="forum-search-btn"><img src="img/search.png"></button>
                            </form>
                        </div>
                        <span class="activity-title forum-cattitl">Category</span>
                        <span class="dashed"></span>
                        <ul class="forum-category">
                            <li><a ui-sref="app.forums-category" class="active">All (07)</a></li>
                            <li><a ui-sref="app.forums-category">General (08)</a></li>
                            <li><a ui-sref="app.forums-category">Classes (09)</a></li>
                            <li><a ui-sref="app.forums-category">Support (04)</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- / main -->
</div>
